spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gym-service?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 8112
    driver-class-name: com.mysql.cj.jdbc.Driver
  mail:
    host: smtp.gmail.com
    port: 587
    username: kcsc4761@gmail.com
    password: ageb zvmk pjxd yzuw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 1800000  # 30 * 60 * 1000 == 30ë¶„
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        # show_sql: true
        format_sql: true

file:
  dir:
  - C:/Users/YWJEONG/project/gymUpload/
  - C:/Users/YWJEONG/project/reviewUpload/


logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace